# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# Flask instance folder
instance/

# Pytest
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Windows specific
Thumbs.db
db.sqlite3
db.sqlite3-journal

# PyCharm
.idea/
*.iml

# Visual Studio Code
.vscode/

# Logs and databases
logs/
*.log
*.db
*.sqlite

# Others
*.pyc
